footer
  if config && config.index
    p
      a(href='./index.html') Return to index
  p Built with&nbsp;
    a(href='https://www.github.com/mattyod/matic/') Matic.js&nbsp;
  p and&nbsp;
    a(href='http://jade-lang.com/') Jade
  p To create new schemas&nbsp;
    a(href='http://jsonschema.net/') jsonschema.net
